
@{
    ViewBag.Title = "Index";    
}    
    <!-- content-starts-here -->
    <div class="content">
        <div class="categories">            
                <div class="container">
                    <div class="trend-ads">
                        <h2>Most popular industries</h2>
                    </div>
                    <div class="col-md-2 focus-grid">
                        <a href="categories.html">
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="fa fa-home" style="background:#3fb7d2"></i></div>
                                    <h4 class="clrchg">Real Estate</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 focus-grid">
                        <a href="categories.html#parentVerticalTab2">
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="fa fa-laptop" style="background:#15c01c"></i></div>
                                    <h4 class="clrchg"> Electronics & Appliances</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 focus-grid">
                        <a href="categories.html#parentVerticalTab3">
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="fa fa-at" style="background:#ff9e29"></i></div>
                                    <h4 class="clrchg">Information technology</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 focus-grid">
                        <a href="categories.html#parentVerticalTab4">
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="fa fa-automobile" style="background:#1963ce"></i></div>
                                    <h4 class="clrchg">Automobile</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 focus-grid">
                        <a href="categories.html#parentVerticalTab5">
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="fa fa-gears" style="background:#f49ecf"></i></div>
                                    <h4 class="clrchg">Machanical</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 focus-grid">
                        <a href="categories.html#parentVerticalTab6">
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="fa fa-ambulance" style="background:#df8012"></i></div>
                                    <h4 class="clrchg">Healthcare</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    @*<div class="col-md-2 focus-grid">
                    <a href="categories.html#parentVerticalTab7">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-book"></i></div>
                                <h4 class="clrchg">Books, Sports & Hobbies</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 focus-grid">
                    <a href="categories.html#parentVerticalTab8">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                                <h4 class="clrchg">Fashion</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 focus-grid">
                    <a href="categories.html#parentVerticalTab9">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                                <h4 class="clrchg">Kids</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 focus-grid">
                    <a href="categories.html#parentVerticalTab10">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-shield"></i></div>
                                <h4 class="clrchg">Services</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 focus-grid">
                    <a href="categories.html#parentVerticalTab11">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-at"></i></div>
                                <h4 class="clrchg">Jobs</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 focus-grid">
                    <a href="categories.html#parentVerticalTab12">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image"><i class="fa fa-home"></i></div>
                                <h4 class="clrchg">Real Estate</h4>
                            </div>
                        </div>
                    </a>
                </div>*@
                    <div class="clearfix"></div>
                </div>
            </div>
        
        <div class="trending-ads">
            <div class="container">
                <!-- slider -->
                <div class="trend-ads">
                    <h2>Recent updated jobs</h2>
                    <ul id="flexiselDemo3">
                        <li>
                            <div class="col-md-3">                                
                                <span class="price"><i class="fa fa-send" ></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span class="price"><i class="fa fa-send"></i></span>
                                <div class="ad-info">
                                    <h5>There are many variations of passages Hello this is a test for job Hello this is a test for job Hello this is a test for job Hello this is a test for job </h5>
                                    <span class="pull-right">posted 1 hour ago</span>
                                    <a class="btn btn-success">Apply Now</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <script type="text/javascript">
						 $(window).load(function() {
							$("#flexiselDemo3").flexisel({
								visibleItems:1,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 5000,
								pauseOnHover: true,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: {
									portrait: {
										changePoint:480,
										visibleItems:1
									},
									landscape: {
										changePoint:640,
										visibleItems:1
									},
									tablet: {
										changePoint:768,
										visibleItems:1
									}
								}
							});

						});
                    </script>
                    <script type="text/javascript" src="~/Scripts/jquery.flexisel.js"></script>
                </div>
            </div>
            <!-- //slider -->
        </div>
        <div class="mobile-app">
            <div class="container">
                <div class="col-md-5 app-left">
                    <a href="#"><img src="~/images/Webphonix.png" alt=""></a>
                </div>
                <div class="col-md-7 app-right">
                    <h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
                    <p><a href="#" class="btn btn-info">Register yourself</a></p>
                    @*<div class="app-buttons">
                        <div class="app-button">
                            <a href="#"><img src="images/1.png" alt=""></a>
                        </div>
                        <div class="app-button">
                            <a href="#"><img src="images/2.png" alt=""></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    

