@{
    ViewBag.Title = "JobList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Jobs -->
<div class="total-ads main-grid-border">
    <div class="container">
       
        <div class="ads-grid">           
            <div class="ads-display col-md-12">
                <div class="wrapper">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">                        
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <div>
                                    <div id="container">
                                        <div class="view-controls-list" id="viewcontrols">
                                            <label>view :</label>
                                            <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                            <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <ul class="list" id="JbList">                                            
                                                      @*This area contains list of jobs*@              
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- // Jobs -->

<script type="text/javascript">
    $(document).ready(function () {               
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Jobs", "Home")',
            async: true,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#JbList").append('<li>' +
                        '<a href="#" onclick="JobDetails(' + data[i].ID + ')">' +
                        '<section class="list-left">' +
                        '<h5 class="title">' + data[i].JobDescription + '</h5>' +
                        '<p class="catpath">Created on ' + toDate(data[i].CreatedDate) + '</p>' +
                        '</section>' +
                        '<section class="list-right">' +
                        '<span class="date"><a class="btn btn-success" onclick="applyJob(' + data[i].ID + ')">apply</a></span>' +
                        '<span class="cityname">' + data[i].JobLocation + '</span>' +
                        '</section>' +
                        '<div class="clearfix"></div>' +
                        '</a >' +
                        '</li >');
                }
            },
            error: function (d) {                
                alert('Unable to get job list Please reload the page');
            }
        });

        var elem = $('#container ul');
        $('#viewcontrols a').on('click', function (e) {
            if ($(this).hasClass('gridview')) {
                elem.fadeOut(1000, function () {
                    $('#container ul').removeClass('list').addClass('grid');
                    $('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
                    $('#viewcontrols .gridview').addClass('active');
                    $('#viewcontrols .listview').removeClass('active');
                    elem.fadeIn(1000);
                });
            }
            else if ($(this).hasClass('listview')) {
                elem.fadeOut(1000, function () {
                    $('#container ul').removeClass('grid').addClass('list');
                    $('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
                    $('#viewcontrols .gridview').removeClass('active');
                    $('#viewcontrols .listview').addClass('active');
                    elem.fadeIn(1000);
                });
            }
        });
    });

    function applyJob(id) {
        alert(id);
    }
    function JobDetails(id) {
        alert(id);
    }

    function toDate(dateStr) {
        var date = new Date(dateStr);
        return (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear()
    }
</script>

